.carousel-item img {
	max-width: 100%;
	width: 100%;
}
header {
	margin:  15px 0;
}
body {
	background-color: #53292a;
	color: #faf5f2; 
	/*background-image: url('../images/background/nikpro.jpg')*/
	font-family: 'Indie Flower', cursive;
}

/* header style */
.nav-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	height: 100px;
}
.logo img {
	height: 100%;
}
/*#slider {
	height: 400px;
	overflow: hidden;
}*/
.block-thumbnail {
	display:block; 
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 5px;
	background-color:  #000;
	color: #faf5f2; 	
}
.block-thumbnail img {
	width: 100%;
}
.block-social {
	/*border: 1px solid #ccc;*/
    /*background-color:  #ff5c5b;*/
	color: #faf5f2;
}
.block-playlist {
}
.block-playlist img {
	width: 100%;
}
.block-playlist h3 {

}
.block-playlist p {

}

.block-thumbnail:hover {
	box-shadow: 0 0 8px 0 #ff5c5b;
	text-decoration: none;
}
.block-playlist:hover h3 {
	text-decoration: none;	
}